{% extends "base.html" %}

{% block app_content %}
    <table class="table">
        <thead>
        <tr>
            <th>Позиция</th>
            <th>Имя пользователя</th>
            <th>Рейтинг</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}